@font-face {
  font-family: 'Ramona';
  src: url('/assets/fonts/ramona-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/ramona-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ramona';
  src: url('/assets/fonts/ramona-light-webfont.woff2') format('woff2'),
    url('/assets/fonts/ramona-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
