:root {
  --gsl-header-background: #002855;
  --gsl-header-text-color: #ffff;
  --gsl-header-icon-color: #ffff;
  --gsl-header-icon-color-hover: #002855;
  --gsl-header-button-hover-bg: #e0e0e0;
  --gsl-focus: #0f62fe;

  --gsl-side-nav-text: #ffff;
  --gsl-side-nav-hover: #f4f4f4;
  --gsl-side-nav-active-bg: #d0e2ff;
  --gsl-side-nav-active-text: #0f62fe;

  --gsl-side-nav-font-size: 0.875rem;
  --gsl-side-nav-padding: 0.5rem 1rem;
  --gsl-side-nav-indent-base: 1rem;

  --gsl-side-nav-level-0: #002855;
  --gsl-side-nav-level-1: #002855;
  --gsl-side-nav-level-2: #003366;
  --gsl-side-nav-level-3: #154273;
  --gsl-side-nav-level-4: #335D8E;

  --gsl-header-padding: 1rem;
  --gsl-header-action-gap: 0.5rem;
  --gsl-header-font-size: 1rem;

  --gsl-header-z-index: 1000;
  --gsl-side-nav-z-index: 1100;

  --gsl-font-body: 'Noto Sans', sans-serif;
  --gsl-font-heading: 'Ramona', sans-serif;
  --gsl-font-alt: 'QuickSand', sans-serif;

  --gsl-header-height: 92px; //TODO: Fix


  --side-nav-transition-duration: 0.3s;
  --side-nav-transition-delay: 0.2s;
  --hover-state-delay: 0.2s
}