:host {
  display: block;
  font-family: var(--gsl-font-heading);
}



.gsl-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gsl-header-background, #002855);
  color: var(--gsl-header-text-color, #f4f4f4);
  font-family: var(--gsl-font-heading, 'Ramona', sans-serif);
  z-index: var(--gsl-header-z-index);
  padding: 0.625rem 1rem;
  position: relative; // ensures z-index is respected
  transition: border-bottom-left-radius 0.3s ease;
}

/* When Host has .nav-open, square off the bottom‑left corner */
:host(.nav-open) .gsl-header {
  border-bottom-left-radius: 0;
}

.gsl-header__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.gsl-header__menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 2rem;
  width: 2rem;
  color: var(--gsl-header-icon-color, #f4f4f4);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: 2px solid var(--gsl-focus, #0f62fe);
    outline-offset: 2px;
  }
}

.gsl-header__menu-button:hover,
.gsl-header__menu-button:focus-visible {
  background-color: var(--gsl-header-button-hover-bg, #e0e0e0);
  border-radius: 4px;
  color: var(--gsl-header-icon-color-hover, #002855)
}

.gsl-header__menu-button:focus-visible {
  outline: 2px solid var(--gsl-focus, #0f62fe);
  outline-offset: 2px;
}

.gsl-header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gsl-header__logo {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;

  img {
    width: 8rem;
  }
}


.gsl-header__center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gsl-header__right {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: 767px) {
    display: none;
    /* hide right slot on mobile – content will appear in side-nav */
  }
}